html {
font-size: 100%;
box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
 font-family: 'Public Sans', Open Sans, Sans-serif;
 line-height: 1.3;
}


//Flexbox Helper Classes
.flex {
  display: flex;


&-js-space-between {
  justify-content: space-between;
}

&-js-c {
  justify-content: center;
}

&-ai-c {
  align-items: center;
}


}
